/* src/components/HomePage.css */
.homePage {
    text-align: center;
    padding: 20px;
  }
  
  .homeHeader {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    margin: 20px 0;
  }
  
  .mintButton {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
  }
  
  .mintButton:hover {
    background-color: #45a049;
  }
  
  p {
    color: red;
  }
  